force-app/main/default/flows/Creating_Booking_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Convert Lead Into person Account &amp; Contact</description>
        <name>Convert_Lead_Into_person_Account_Contact</name>
        <label>Convert Lead Into person Account &amp; Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LeadConversionService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Work_Type</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LeadConversionService</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>leadConvertedPersonAccountId</assignToReference>
            <name>accountId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>leadConvertedContactId</assignToReference>
            <name>contactId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Generate Unique Test Drive Booking ID</description>
        <name>Generate_Unique_Test_Drive_Booking_ID</name>
        <label>Generate Unique Test Drive Booking ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TestDriveBookingIdGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Test_Drive_Record</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>dummy</name>
            <value>
                <stringValue>dummy</stringValue>
            </value>
        </inputParameters>
        <nameSegment>TestDriveBookingIdGenerator</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>generatedTestDriveBookingId</assignToReference>
            <name>bookingId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Test Drive Confirmation Email</description>
        <name>SendTestDriveConfirmationEmail</name>
        <label>Send Test Drive Confirmation Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SendTestDriveConfirmationEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contact</name>
            <value>
                <elementReference>Get_Contact_Details</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointment</name>
            <value>
                <elementReference>Get_Created_Service_Appointment_Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>testDrive</name>
            <value>
                <elementReference>testDriveRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendTestDriveConfirmationEmail</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>assign record variables data</description>
        <name>assign_record_variables_data</name>
        <label>assign record variables data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>serviceAppointmentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_Service_Appointment_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testDriveRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_Test_Drive_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>personAccountRecordDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Person_Account_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check Appointment Type</description>
        <name>Check_Appointment_Type</name>
        <label>Check Appointment Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Service_Appointment_When_Center</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Center</defaultConnectorLabel>
        <rules>
            <name>Doorstep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>appointmentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doorstep</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Service_Appointment_When_Doorstep</targetReference>
            </connector>
            <label>Doorstep</label>
        </rules>
    </decisions>
    <description>To Create Final Booking Appointment in Service Appointment &amp; Test Drive Objects</description>
    <environments>Default</environments>
    <formulas>
        <name>appointmentEndTime</name>
        <dataType>DateTime</dataType>
        <expression>{!appointmentTime}+ (1/24)</expression>
    </formulas>
    <interviewLabel>Creating Booking Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creating Booking Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Service Appointment When Center</description>
        <name>Create_Service_Appointment_When_Center</name>
        <label>Create Service Appointment When Centerapp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Created_Service_Appointment_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>ActualEndTime</field>
            <value>
                <elementReference>appointmentEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActualStartTime</field>
            <value>
                <elementReference>appointmentTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentType</field>
            <value>
                <stringValue>At Dealer Location</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ArrivalWindowEndTime</field>
            <value>
                <elementReference>appointmentEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ArrivalWindowStartTime</field>
            <value>
                <elementReference>appointmentTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Get_Dealer_Details.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>leadConvertedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <stringValue>Hours</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_Person_Account_Details.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>dealerAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Get_Person_Account_Details.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Get_Dealer_Details.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>appointmentEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>appointmentTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Get_Dealer_Details.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Get_Dealer_Details.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Test Drive Booking</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>Get_Work_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Service Appointment When Doorstep</description>
        <name>Create_Service_Appointment_When_Doorstep</name>
        <label>Create Service Appointment When Doorstep</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Created_Service_Appointment_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>ActualEndTime</field>
            <value>
                <elementReference>appointmentEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActualStartTime</field>
            <value>
                <elementReference>appointmentTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentType</field>
            <value>
                <stringValue>At Customer Location</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ArrivalWindowEndTime</field>
            <value>
                <elementReference>appointmentEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ArrivalWindowStartTime</field>
            <value>
                <elementReference>appointmentTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Get_Person_Account_Details.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>leadConvertedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>appointmentTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <stringValue>Hours</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>appointmentTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_Person_Account_Details.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>dealerAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Get_Person_Account_Details.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Get_Person_Account_Details.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>appointmentEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>appointmentTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Get_Person_Account_Details.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Get_Person_Account_Details.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Test Drive Booking</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>Get_Work_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Test Drive Record</description>
        <name>Create_Test_Drive_Record</name>
        <label>Create Test Drive Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Created_Test_Drive_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Booking_Id__c</field>
            <value>
                <elementReference>generatedTestDriveBookingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Number__c</field>
            <value>
                <elementReference>Get_Created_Service_Appointment_Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model_Interested__c</field>
            <value>
                <elementReference>Get_Vehicle_Details.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pincdoe__c</field>
            <value>
                <elementReference>Get_Created_Service_Appointment_Record.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>Get_Created_Service_Appointment_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Get_Created_Service_Appointment_Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Test_Drive_Date_Time__c</field>
            <value>
                <elementReference>Get_Created_Service_Appointment_Record.SchedStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>choosenVehicleId</elementReference>
            </value>
        </inputAssignments>
        <object>Test_Drive__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get Contact Details</description>
        <name>Get_Contact_Details</name>
        <label>Get Contact Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendTestDriveConfirmationEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Created_Service_Appointment_Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Created Service Appointment Record</description>
        <name>Get_Created_Service_Appointment_Record</name>
        <label>Get Created Service Appointment Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Unique_Test_Drive_Booking_ID</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Person_Account_Details.PersonEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Service_Appointment_When_Center.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Service_Appointment_When_Doorstep.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Created Test Drive Record</description>
        <name>Get_Created_Test_Drive_Record</name>
        <label>Get Created Test Drive Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_record_variables_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Test_Drive_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Test_Drive__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Dealer Details</description>
        <name>Get_Dealer_Details</name>
        <label>Get Dealer Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Person_Account_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dealerAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Person Account Details</description>
        <name>Get_Person_Account_Details</name>
        <label>Get Person Account Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vehicle_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadConvertedPersonAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Vehicle Details</description>
        <name>Get_Vehicle_Details</name>
        <label>Get Vehicle Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Appointment_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>choosenVehicleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicle</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Work Type for test drive</description>
        <name>Get_Work_Type</name>
        <label>Get Work Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Dealer_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Test Drive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Convert_Lead_Into_person_Account_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>appointmentTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>appointmentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>choosenVehicleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dealerAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>generatedTestDriveBookingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadConvertedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadConvertedPersonAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>personAccountRecordDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>serviceAppointmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>testDriveRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Test_Drive__c</objectType>
    </variables>
</Flow>
