force-app/main/default/flows/Generate_And_Send_Otp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_OTP_Verification</name>
        <label>Generate OTP Verification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>generateVerificationCode</actionName>
        <actionType>generateVerificationCode</actionType>
        <connector>
            <targetReference>Updated_Associated_Lead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>generateVerificationCode</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>generatedOtp</assignToReference>
            <name>verificationCode</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_OTP_to_user_Email</name>
        <label>Send OTP to user Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Otp_is_generated_boolean_assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>userEmail</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>aakanshak@astreait.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>00Xak00000fN7MAEA0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Otp_is_generated_boolean_assignment</name>
        <label>Otp is generated boolean assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OtpGenerated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Generate And Send Otp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate And Send Otp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Updated_Associated_Lead</name>
        <label>Updated Associated Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_OTP_to_user_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OTP__c</field>
            <value>
                <elementReference>generatedOtp</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_OTP_Verification</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>generatedOtp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OtpGenerated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
