force-app/main/default/flows/Reschedule_Booking_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send Test Drive Confirmation Email</description>
        <name>Send_Test_Drive_Confirmation_Email</name>
        <label>Send Test Drive Confirmation Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SendTestDriveConfirmationEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contact</name>
            <value>
                <elementReference>ContactDetails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointment</name>
            <value>
                <elementReference>ServiceAppointmentRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>testDrive</name>
            <value>
                <elementReference>TestDriveRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendTestDriveConfirmationEmail</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Update Boolean Var</description>
        <name>Update_Boolean_Var</name>
        <label>Update Boolean Var</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestDriveRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Update_Test_Drive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Updated_Service_Appiontment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Person_Account_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Test_Drive_Confirmation_Email</targetReference>
        </connector>
    </assignments>
    <description>Reschedule Booking Appointment</description>
    <environments>Default</environments>
    <formulas>
        <name>oneHourInUpdatedTimeSlot</name>
        <dataType>DateTime</dataType>
        <expression>{!updatedTimeSlot}+(1/24)</expression>
    </formulas>
    <interviewLabel>Reschedule Booking Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reschedule Booking Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Person Account Details</description>
        <name>Get_Person_Account_Details</name>
        <label>Get Person Account Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Boolean_Var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_Service_Appiontment.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Test_Drive_Record</name>
        <label>Get Test Drive Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Test_Drive_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>testDriveBookingId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Test_Drive__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Update Test Drive</description>
        <name>Get_Update_Test_Drive</name>
        <label>Get Updated Test Drive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Updated_Service_Appiontment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>testDriveBookingId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Test_Drive__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Updated Service Appiontment</description>
        <name>Get_Updated_Service_Appiontment</name>
        <label>Get Updated Service Appiontment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Person_Account_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Update_Test_Drive.Service_Appointment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Service Appointment</description>
        <name>Update_Service_Appointment</name>
        <label>Update Service Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Update_Test_Drive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Test_Drive_Record.Service_Appointment__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualEndTime</field>
            <value>
                <elementReference>oneHourInUpdatedTimeSlot</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActualStartTime</field>
            <value>
                <elementReference>updatedTimeSlot</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ArrivalWindowEndTime</field>
            <value>
                <elementReference>oneHourInUpdatedTimeSlot</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ArrivalWindowStartTime</field>
            <value>
                <elementReference>updatedTimeSlot</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>updatedTimeSlot</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>updatedTimeSlot</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>oneHourInUpdatedTimeSlot</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>updatedTimeSlot</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Test_Drive_Record</name>
        <label>Update Test Drive Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>testDriveBookingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Rescheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Test_Drive_Date_Time__c</field>
            <value>
                <elementReference>updatedTimeSlot</elementReference>
            </value>
        </inputAssignments>
        <object>Test_Drive__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Test_Drive_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>isUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ServiceAppointmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>testDriveBookingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TestDriveRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Test_Drive__c</objectType>
    </variables>
    <variables>
        <name>updatedTimeSlot</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
