force-app/main/default/flows/Slot_Booking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>assign Date/Time Value in record</description>
        <name>assign_Date_Time_Value_in_record</name>
        <label>assign Date/Time Value in record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>availableDateTimeSlots</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>startDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>startDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addOneHourToStartDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>startTimeVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addOneHour</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>X9_to_6_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>increase today Date by 1</description>
        <name>increase_today_Date_by_1</name>
        <label>increase today Date by 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>dateToCompare</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>increaseDateByOne</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>startDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addOneDayToStartDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>startTimeVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <timeValue>09:00:00.000Z</timeValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_for_After_10_Days</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Loop for After 10 Days</description>
        <name>Loop_for_After_10_Days</name>
        <label>Loop for After 10 Days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Still_Within_10_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dateToCompare</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>After10Days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X9_to_6_loop</targetReference>
            </connector>
            <label>Still Within 10 days</label>
        </rules>
    </decisions>
    <decisions>
        <description>9 to 6 loop</description>
        <name>X9_to_6_loop</name>
        <label>9 to 6 loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>increase_today_Date_by_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Finish Loop</defaultConnectorLabel>
        <rules>
            <name>running_loop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>startTimeVar</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <timeValue>18:00:00.000Z</timeValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Date_Time_Value_in_record</targetReference>
            </connector>
            <label>running loop</label>
        </rules>
    </decisions>
    <description>To Book Slot by taking Day and Time slot from User</description>
    <environments>Default</environments>
    <formulas>
        <name>addOneDayToStartDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!startDateTime}+1</expression>
    </formulas>
    <formulas>
        <name>addOneHour</name>
        <dataType>Time</dataType>
        <expression>{!startTimeVar}+3600000</expression>
    </formulas>
    <formulas>
        <name>addOneHourToStartDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!startDateTime}+(1/24)</expression>
    </formulas>
    <formulas>
        <name>After10Days</name>
        <dataType>Date</dataType>
        <expression>TODAY()+11</expression>
    </formulas>
    <formulas>
        <name>increaseDateByOne</name>
        <dataType>Date</dataType>
        <expression>{!dateToCompare}+1</expression>
    </formulas>
    <formulas>
        <name>nextDayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+1</expression>
    </formulas>
    <formulas>
        <name>Target_DateTime_6PM</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(TODAY() + 11) &amp; &quot; 18:00:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>todayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>tommStartDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( TEXT(TODAY() + 1) + &quot; 09:00:00&quot; )</expression>
    </formulas>
    <interviewLabel>Slot Booking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Slot Booking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Service_Appointment_of_Dealer</name>
        <label>Get all Service Appointment of Dealer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_After_10_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dealerAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Service Territory Details</description>
        <name>Get_Service_Territory_Details</name>
        <label>Get Service Territory Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Time_Slot_Related_to_Operating_Hour</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceTerritoryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Time Slot Related to Operating Hour</description>
        <name>Get_Time_Slot_Related_to_Operating_Hour</name>
        <label>Get Time Slot Related to Operating Hour</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_Service_Appointment_of_Dealer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OperatingHoursId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Territory_Details.OperatingHoursId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TimeSlot</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Territory_Details</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>availableDateTimeSlots</name>
        <dataType>DateTime</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>availableDaysforBooking</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentItem_filter_collection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSlot</objectType>
    </variables>
    <variables>
        <name>dateTimeVar</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dateToCompare</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>nextDayDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>dealerAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>endDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Target_DateTime_6PM</elementReference>
        </value>
    </variables>
    <variables>
        <name>serviceTerritoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>startDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>tommStartDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>startTimeVar</name>
        <dataType>Time</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <timeValue>09:00:00.000Z</timeValue>
        </value>
    </variables>
    <variables>
        <name>timeSlotStoreVar</name>
        <dataType>Time</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
